/* This CSS is used ONLY by the form defined in this same folder 
 * customize it as you see fit for your specific form
 */ 

h1 {
    font-size: 120%;
    font-weight: bold;
}

#form_container {
    border: 1px solid black;
    background-color: #ffffcc;
    width: 98%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

#general {
    padding: 10px;
}

#history {
    padding: 10px;
    border-top: 1px solid black;
}

#bottom {
    padding: 10px;
    border-top: 1px solid black;
}

.formtext {
    font-family: arial;
    font-size: 100%;
}

.text {
    font-size: 100%;
}

.link {
    font-size: 90%;
}

.link_submit {
    font-size: 120%;
}

.title {
    font-size: 150%;
    font-weight: bold;
}

.symptcategory {
    padding: 10px;
    border-bottom: 1px solid black;
}

.symptom {
    padding: 5px;
    margin: 5px;
    background-color: rgba(143, 188, 143, 0.58);
    display: inline-table;
}

.symptcattitletext {
    font-size: 120%;
    font-weight: bold;
    background-color: orange;
}

.symptomtext {
    font-weight: bold;
}

.bold {
    font-size: 110%;
    font-weight: bold;
}

.warningtext {
    background-color: gold;
}

.centertext {
    text-align: center;
}

.borderedtable, .borderedtable th, .borderedtable td {
    border: 1px solid black;
}

.display-inline-block {
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
}

.inline-block-table {
    border: 1px black solid;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
    line-height:30px;
}
.block-width {
    width: 800px;
    border: 1px black solid;
    padding: 5px;
    vertical-align: top;
}

.popup {
    position: fixed;
    bottom: 50%;
    right: 25%;
    width: 50%;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clearsympt {
    cursor: pointer;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

#print_form_container {
    border: 1px solid black;
    background-color: #ffffcc;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

#print_general {
    padding: 5px;
   /* font-family: courier;*/
    font-size: 14px;
    width: 800px;
}

#print_history {
    padding: 10px;
    border-top: 1px solid black;
}

#print_bottom {
    padding: 10px;
    border-top: 1px solid black;
}
