<!DOCTYPE html>
<html>
<head>
<?php html_header_show(); ?>

<!-- supporting javascript code -->
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/js/jquery.js"></script>

<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/textformat.js"></script>


<!-- page styles -->
<link rel="stylesheet" href="<?php echo $css_header;?>" type="text/css">
<link rel="stylesheet" href="../../forms/<?php echo $this->form_folder; ?>/style.css" type="text/css">

<!-- pop up calendar -->
<style type="text/css">@import url(<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar.css);</style>
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar.js"></script>
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar_en.js"></script>
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar_setup.js"></script>

<script type="text/javascript">
// this line is to assist the calendar text boxes
var mypcc = '<?php echo $GLOBALS["phone_country_code"] ?>';

function PrintForm() {
    newwin = window.open("<?php echo 'http://'.$_SERVER['SERVER_NAME'].$rootdir.'/interface/forms/'.$this->form_folder.'/print.php?id='.$_GET["id"]; ?>","mywin");
}
</script>

    <script type="text/javascript">
        $('#firstpregnacyconfirm').on('change', function() {
            // From the other examples
            if (!this.checked) {
                var sure = confirm("Are you sure?");
                this.checked = !sure;
                $('#textbox1').val(sure.toString());
            }
        });
    </script>
    <script type="text/javascript">
        $("#firstpregnacyconfirm").change(function(evt){
            var attr = $(evt.target).attr("checked")
            if (typeof attr !== 'undefined' && attr !== false){
                alert("Checked");
            }
            else{
                alert("Not Checked");
            }
        });
    </script>
</head>

<body class="body_top">

<?php echo date("F d, Y", time()); ?>

<form method=post action="<?php echo $rootdir;?>/interface/forms/<?php echo $this->form_folder; ?>/save.php?mode=<?php echo $this->form_mode; ?>&id=<?php echo $_GET["id"];?>" name="pregnacy_cdss_form">
<span class="title"><?php xl($this->form_name,'e'); ?></span><br>

<input type="hidden" name="id" value="<?php echo $this->form_idexam; ?>" />
<!--<input type="hidden" name="activity" value="{$data->get_activity()}">-->
<input type="hidden" name="pid" value="<?php echo $this->form_pid; ?>">
<input type="hidden" name="process" value="true">
<input type="hidden" name="isfirstpregnacy" value="false">

<!-- Save/Cancel links -->
<input type="button" class="save" value="<?php xl('Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp; 

<!-- container for the main body of the form -->
<div id="form_container">

<div id="general">
    <div id="isfirspregcheck">
        <input type="checkbox" id="firstpregnacyconfirm" name="is_firstpregnacy" value="<?php echo $this->is_firstpregnacy; ?>" <?php echo ($this->is_firstpregnacy == 1) ? 'checked="checked"' : ''; ?>/>Is firts pregnacy?
    </div>
<table>
<?php
//var_dump($rootdir);
foreach ($SymptCategory as $key=>$SymptCat)
{
    echo '<tr><td>';
    echo '<strong>'.$SymptCat->id.'. '.$SymptCat->cat_name.'</strong>';
    echo '</td></tr>';

    foreach ($SymptCat->symptoms as $key=>$Symptoms)
    {
        echo '<tr><td>';
        echo $Symptoms->symp_name;
        echo '</td></tr>';

        foreach ($Symptoms->symptoptions as $key=>$SymptOptions)
        {
            echo '<tr><td>';
            if ($Symptoms->is_multi) { $sel_type = 'checkbox'; } else { $sel_type = 'radio'; }
            $selection = '';
            if (SymptByPatient_Model::isselected($this->form_idexam, $this->form_pid, $Symptoms->id, $SymptOptions->id)) { $selection = 'checked'; } else { $selection = ''; }
            echo '<input type="'.$sel_type.'" id="'.$SymptOptions->id.'" name="symptom_options['.$Symptoms->id.'][]" value="'.$SymptOptions->id.'" '.$selection.' />'.$SymptOptions->opt_name;
            echo '</td></tr>';
        }
    }
}
?>
</table>
</div>

<div id="bottom">
Use this space to express notes <br>
<textarea name="notes" id="notes" cols="80" rows="4"><?php //echo stripslashes($record['notes']);?></textarea>

</div>
</div>

</div> <!-- end form_container -->

<input type="button" class="save" value="<?php xl('Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp; 

</form>

</body>

<script language="javascript">
/* required for popup calendar */
//Calendar.setup({inputField:"dob", ifFormat:"%Y-%m-%d", button:"img_dob"});
//Calendar.setup({inputField:"form_date", ifFormat:"%Y-%m-%d", button:"img_form_date"});
//Calendar.setup({inputField:"sig_date", ifFormat:"%Y-%m-%d", button:"img_sig_date"});

// jQuery stuff to make the page a little easier to use

$(document).ready(function(){
    $(".save").click(function() { top.restoreSession(); document.pregnacy_cdss_form.submit(); });
    $(".dontsave").click(function() { location.href='<?php echo "$this->returnurl";?>'; });
    $(".printform").click(function() { PrintForm(); });
});

</script>

</html>