<!DOCTYPE html>
<html>
<head>
<?php html_header_show(); ?>

<!-- supporting javascript code -->
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/textformat.js"></script>


<!-- page styles -->
<link rel="stylesheet" href="<?php echo $css_header;?>" type="text/css">
<link rel="stylesheet" href="../../forms/<?php echo $this->form_folder; ?>/style.css" type="text/css">

<!-- pop up calendar -->
<style type="text/css">@import url(<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar.css);</style>
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar.js"></script>
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar_en.js"></script>
<script type="text/javascript" src="<?php echo $GLOBALS['webroot'] ?>/library/dynarch_calendar_setup.js"></script>

<script type="text/javascript" language="javascript">
// this line is to assist the calendar text boxes
var mypcc = '<?php echo $GLOBALS["phone_country_code"] ?>';

function PrintForm() {
    newwin = window.open("<?php echo 'http://'.$_SERVER['SERVER_NAME'].$rootdir.'/interface/forms/'.$this->form_folder.'/print.php?id='.$_GET["id"]; ?>","mywin");
}
</script>

</head>

<body class="body_top">

<?php echo date("F d, Y", time()); ?>

<form method=post action="<?php echo $rootdir;?>/interface/forms/<?php echo $this->form_folder; ?>/save.php?mode=<?php echo $this->form_mode; ?>&id=<?php echo $_GET["id"];?>" name="pregnacy_cdss_form">
<span class="title"><?php xl($this->form_name,'e'); ?></span><br>

<input type="hidden" name="id" value="<?php echo $this->form_idexam; ?>" />
<!--<input type="hidden" name="activity" value="{$data->get_activity()}">-->
<input type="hidden" name="pid" value="<?php echo $this->form_pid; ?>">
<input type="hidden" name="process" value="true">
<input type="hidden" class="isfirstpregnacyhd" name="isfirstpregnacyhd" value="<?php echo $this->is_firstpregnacy; ?>">

<!-- Save/Cancel links -->
<input type="button" class="save" value="<?php xl('Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp; 

<!-- container for the main body of the form -->
<div id="form_container">

<div id="general">
    <div id="isfirspregcheck">
        <input type="checkbox" class="isfirstpregnacy" id="firstpregnacyconfirm" name="is_firstpregnacy" value="<?php echo $this->is_firstpregnacy; ?>" <?php echo ($this->is_firstpregnacy == 1) ? 'checked="checked"' : ''; ?>/>Is firts pregnacy?
    </div>
    <div id="isfirspregbtn">
        <span><strong>Вагітність:&nbsp;</strong></span> <span id="firstpregbtnansw"></span>
        <input type="button" class="firspregbtn" value="Це перша вагітність?">
    </div>
<table>
<?php
        var_dump($css_header);
        var_dump($rootdir);

//var_dump($rootdir);
foreach ($SymptCategory as $key=>$SymptCat)
{

    echo '<tr><td>';
    echo '<strong>'.$SymptCat->id.'. '.$SymptCat->cat_name.'</strong>';
    echo '</td></tr>';

    foreach ($SymptCat->symptoms as $key=>$Symptoms)
    {
        echo '<tr><td>';
        echo $Symptoms->symp_name;
        echo '</td></tr>';

        foreach ($Symptoms->symptoptions as $key=>$SymptOptions)
        {
            echo '<tr><td>';
            if ($Symptoms->is_multi) { $sel_type = 'checkbox'; } else { $sel_type = 'radio'; }
            $selection = '';
            if (SymptByPatient_Model::isselected($this->form_idexam, $this->form_pid, $Symptoms->id, $SymptOptions->id)) { $selection = 'checked'; } else { $selection = ''; }
            echo '<input type="'.$sel_type.'" id="'.$SymptOptions->id.'" name="symptom_options['.$Symptoms->id.'][]" value="'.$SymptOptions->id.'" '.$selection.' />'.$SymptOptions->opt_name;
            echo '</td></tr>';
        }
    }

}
?>
</table>
</div>

<div id="bottom">
Use this space to express notes <br>
<textarea name="notes" id="notes" cols="80" rows="4"><?php //echo stripslashes($record['notes']);?></textarea>

</div>
</div>

</div> <!-- end form_container -->

<input type="button" class="save" value="<?php xl('Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp; 

</form>

</body>
<script type="text/javascript" language="javascript">
    $(".isfirstpregnacy").on("change", function() {
        if (this.checked) {
            var sure = confirm("Ви впевнені? Вибір не може бути змінено!");
            this.checked = sure;
            this.disabled = true;
            $('.isfirstpregnacy').prop("value", 1);
            $('.isfirstpregnacyhd').prop("value", 1);
            $('#notes').val(sure.toString());
        }
    });
</script>

<script type="text/javascript" language="javascript">
    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "Yes!";
        } else {
            x = "No!";
        }
        document.getElementById("firstpregbtnansw").innerHTML = x;
    }
</script>

<script language="javascript">
/* required for popup calendar */
//Calendar.setup({inputField:"dob", ifFormat:"%Y-%m-%d", button:"img_dob"});
//Calendar.setup({inputField:"form_date", ifFormat:"%Y-%m-%d", button:"img_form_date"});
//Calendar.setup({inputField:"sig_date", ifFormat:"%Y-%m-%d", button:"img_sig_date"});

// jQuery stuff to make the page a little easier to use

$(document).ready(function(){
    $(".save").click(function() { top.restoreSession(); document.pregnacy_cdss_form.submit(); });
    $(".dontsave").click(function() { location.href='<?php echo "$this->returnurl";?>'; });
    $(".printform").click(function() { PrintForm(); });
    $(".firspregbtn").click(function() {
        var sure = confirm("Ви впевнені? Вибір не може бути змінено!");
        if (sure == true){
            $('#firstpregbtnansw').text("Перша");
            $('.isfirstpregnacyhd').prop("value", 1);
        } else {
            $('#firstpregbtnansw').text("Повторна");
            $('.isfirstpregnacyhd').prop("value", 0);
        }
        this.disabled = true;
    });
});

</script>

</html>