<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- supporting javascript code -->
<script type="text/javascript" src="/openemr/library/js/jquery-1.7.2.min.js"></script>

    <!-- page styles -->
<link rel="stylesheet" href="/openemr/interface/themes/style_oemr.css" type="text/css">
<link rel="stylesheet" href="/openemr/interface/forms/<?php echo $this->form_folder; ?>/style.css" type="text/css">

    <script type="text/javascript" language="javascript">
    // this line is to assist the calendar text boxes
    var mypcc = '<?php echo $GLOBALS["phone_country_code"] ?>';

    function PrintForm() {
        newwin = window.open("<?php echo 'http://'.$_SERVER['SERVER_NAME'].$rootdir.'/openemr/interface/forms/'.$this->form_folder.'/print.php?id='.$_GET['id']; ?>","mywin");
    };
    function AdminForm() {
        newwin = window.open("<?php echo 'http://'.$_SERVER['SERVER_NAME'].$rootdir.'/openemr/interface/forms/'.$this->form_folder.'/admin/web/'; ?>","admincdsswin");
    };
    function AdminFormFrame() {
        top.frames['RBot'].location = "<?php echo 'http://'.$_SERVER['SERVER_NAME'].$rootdir.'/openemr/interface/forms/'.$this->form_folder.'/admin/web/index.php?authUser='.$_SESSION['authUser']; ?>";
    }
    </script>

</head>

<body class="body_top">

<span class="bold"><?php echo 'Сьогодні:&nbsp;'.date("d, F, Y", time()); ?></span><br>

<form method=post action="<?php echo 'http://'.$_SERVER['SERVER_NAME'].$rootdir?>/openemr/interface/forms/<?php echo $this->form_folder; ?>/save.php?mode=<?php echo $this->form_mode; ?>&id=<?php echo $_GET['id'];?>" name="pregnancy_cdss_form" id="pregnancyCdssFormId">
<span class="title"><?php xl($this->form_name,'e'); ?></span><br>

<input type="hidden" name="id" value="<?php echo $this->form_idexam; ?>" />
<!--<input type="hidden" name="activity" value="{$data->get_activity()}">-->
<input type="hidden" name="pid" value="<?php echo $this->form_pid; ?>">
<input type="hidden" name="createdate" value="<?php echo $this->createdate; ?>">
<input type="hidden" name="process" value="true">
<input type="hidden" class="isfirstpregnancyhd" name="isfirstpregnancyhd" value="<?php echo $this->is_firstpregnancy; ?>">
<input type="hidden" class="idfinaldiseasehd" name="idfinaldiseasehd" value="<?php echo $this->id_finaldisease; ?>">

<!-- Save/Cancel links -->
<input type="button" class="save" value="<?php xl('Save and Exit','e'); ?>"> &nbsp;
<input type="button" class="saveajax" value="<?php xl('Save','e'); ?>"> &nbsp;
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp;
<input type="button" class="adminform" value="<?php xl('CDSS Admin','e'); ?>"> &nbsp;

<!-- container for the main body of the form -->
<div id="form_container">
    <div class="popup success centertext bold">Saving Successful!</div>
    <div class="popup failure centertext bold">Saving Failure!</div>
<div id="general">

<?php

    if ($this->id_finaldisease == 0) { $first_row_sel = 'selected'; } else { $first_row_sel = ''; }

    $dec_selector = '<select id="final_diseasedd" name="finaldiseasedd">';
    $dec_selector .= '<option value="0" '.$first_row_sel.'>---Виберіть остаточний діагноз:---</option>';
    //var_dump($dec_selector);

    foreach ($Diseases as $key=>$Disease)
    {
        if ($this->id_finaldisease == $Disease->id) { $row_sel = 'selected'; } else { $row_sel = ''; }
        $dec_selector .= '<option value="'.$Disease->id.'" '.$row_sel.'>'.$Disease->dis_name.'</option>';
    }
    $dec_selector .= '</select>';

    echo '<div class="bold warningtext diseases">Остаточний діагноз (якщо відомо): ';
    echo $dec_selector;
    echo '</div>';

    echo '<hr>';
    echo '<div><span class="bold">Анкету створено:&nbsp;</span><span class="bold warningtext">'.$this->createdate.'</span></div>';

    if (!is_null($this->is_firstpregnancy)) {
        if ($this->is_firstpregnancy==1) {
            $isfirstpregtext = FIRSTPREGNACYTXT;
            $buttonstate ='disabled';
        } else {
            $isfirstpregtext = NEXTPREGNACYTXT;
            $buttonstate ='disabled';
        }
    } else {
        $isfirstpregtext = UNDEFINED;
        $buttonstate='';
    }

    echo '<div id="isfirspregbtn">';
    echo '<span class="bold" >Вагітність:&nbsp;</span><span class="bold warningtext" id="firstpregbtnansw">'.$isfirstpregtext.'</span>&nbsp;&nbsp;';
    echo '<input type="button" class="firspregbtn" value="Це перша вагітність?" '.$buttonstate.'>';
    echo '</div>';

foreach ($SymptCategory as $key=>$SymptCat)
{
    $hiddencat = (($this->is_firstpregnancy==1)&&($SymptCat->id==3)) ? 'hidden' : '';
    //begin category
    echo '<div class="symptcategory" rel="cat'.$SymptCat->id.'" '.$hiddencat.'>';
    echo '<div class="symptcattitletext">'.$SymptCat->id.'. '.$SymptCat->cat_name.'</div>';

    foreach ($SymptCat->symptoms as $key=>$Symptoms)
    {
        //begin symptom
        echo '<div class="symptom" rel="sympt'.$Symptoms->id.'">';
        echo '<span class="symptomtext">'.$Symptoms->symp_name.'</span>';

        foreach ($Symptoms->symptoptions as $key=>$SymptOptions)
        {
            //begin symptom option
            echo '<div class="symptoption" rel="opt'.$SymptOptions->id.'">';
            if ($Symptoms->is_multi) { $sel_type = 'checkbox'; } else { $sel_type = 'radio'; }
            $selection = '';
            if (SymptByPatient_Model::isselected($this->form_idexam, $this->form_pid, $Symptoms->id, $SymptOptions->id)) { $selection = 'checked'; } else { $selection = ''; }
            echo '<span class="formtext"><input type="'.$sel_type.'" id="'.$SymptOptions->id.'" name="symptom_options['.$Symptoms->id.'][]" value="'.$SymptOptions->id.'" '.$selection.' />'.$SymptOptions->opt_name.'</span>';
            //end symptom option
            echo '</div>';
        }
        echo '<div class="centertext"><img class="clearsympt" src="/openemr/interface/pic/Clear.gif"></div>';
        //end symptom
        echo '</div>';
    }
    //end category
    echo '</div>';
}
?>

</div>

</div> <!-- end form_container -->

<input type="button" class="save" value="<?php xl('Save and Exit','e'); ?>"> &nbsp;
<input type="button" class="saveajax" value="<?php xl('Save','e'); ?>"> &nbsp;
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp;
<input type="button" class="adminform" value="<?php xl('CDSS Admin','e'); ?>"> &nbsp;

</form>

</body>

<script type="text/javascript">
// jQuery stuff to make the page a little easier to use
$(document).ready(function(){
    $(".save").click(function() {
        top.restoreSession(); 
        document.pregnancy_cdss_form.submit();   
    });
    $(".saveajax").click(function() {
    var $form = $('#pregnancyCdssFormId'),
        data = $form.serialize(),
        url = $form.attr("action");
    var posting = $.post( url, data );
        posting.done(function(data) {
            $( "div.success" ).fadeIn( 300 ).delay( 2000 ).fadeOut( 400 );
        });
        posting.error(function(data) {
            $( "div.failure" ).fadeIn( 300 ).delay( 2000 ).fadeOut( 400 );
        });
    });
    //clear selected checks/radio
    $(".clearsympt").click(function() {
        $(this).closest(".symptom").find("input[type='checkbox']").removeAttr('checked');
        $(this).closest(".symptom").find("input[type='radio']").removeAttr('checked');
    });
    $(".dontsave").click(function() { location.href='<?php echo "$this->returnurl";?>'; });
    $(".printform").click(function() { PrintForm(); });
    $(".adminform").click(function() { AdminFormFrame(); });
    $(".firspregbtn").click(function() {
        var sure = confirm("Ви впевнені? Вибір не може бути змінено!");
        if (sure == true) {
            $('#firstpregbtnansw').text(<?php echo '"'.FIRSTPREGNACYTXT.'"';?>);
            $('.isfirstpregnancyhd').prop("value", 1);
            $('.symptcategory[rel=cat3]').hide();
        } else {
            $('#firstpregbtnansw').text(<?php echo '"'.NEXTPREGNACYTXT.'"';?>);
            $('.isfirstpregnancyhd').prop("value", 0);
        }
        this.disabled = true;
    });
});

</script>

</html>